 * {
 background-color: khaki;
 }
 
 .heading{
    color:blueviolet;
    font-weight: bolder;
 }

 #middle,p{
    color: crimson;
 }

 
 /*grouping of selectors*/
 h1,p {
    font-size: xx-large;
 }


 /*p{
     color:aqua;
 } */


 /*  this is single line comment in css  
    same comment in multiple line comments*/